

.noticias-container {
    justify-content: center;
    display: flex;
    padding-block: 25px;

}

.noticias h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #d3d3d3;
}

.noticias {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.noticia {
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
}

.noticia img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.descricao {
    padding: 15px;
}

.seubolso {
    font-size: 0.9em;
    color: #ff5e57; 
    margin: 0 0 5px;
}

.descricao h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #fff;
}

.autor {
    font-size: 0.8em;
    color: #bbb;
}

.category{
    height: 300px ;
    width: 250px;
    background-size: cover;
    background-position: center;
}

.noticias .noticia:hover{
    
    transform: scale(1.03);
    transition: all 0.3s ease;
