h1{
    color: rgb(55, 64, 77);
    font-family:"Oswald", sans-serif;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-left: 0px;
}

.emphasis{
    display: flex;
    justify-content: center;
}

.card{
    background-color: white;
    width: 270px;
    height: 350px;
    margin: 10px;
    border-radius: 13px;

}
.card-image{
    background-color: red;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}

.car1{
    background-image: url(/assets/images/Carroeletrico.jpeg);
}

.car2{
    background-image: url(/assets/images/camaro.jpg);
}

.car3{
    background-image: url(/assets/images/sedan.jpeg);
}
.car4{
    background-image: url(/assets/images/bmw.jpg);
}

.inside-card{
    text-align: center;
}
h2{
    color:rgb(55, 64, 77);
}

.inside-card p{
    font-family:"Oswald", sans-serif;
    color:crimson;


}
.inside-card a{
    color: black;
    display: block;
}

.card:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease;
}
